header {
    border-right: 1px solid #e9e3e3;
}

nav img {
    max-width: calc(100% - 30%);
    object-fit: cover;
}
[data-custom-text="textCustom"] {
    color: var(--secondary-color); 
}
[data-custom-text="textCustom"] > li {
    cursor: pointer;
    padding: 10px 30px 10px 10px;
}
ul[data-custom-text="textCustom"] li:nth-child(4) {
    border-radius: 10px;
    color: white;
    background: linear-gradient(135deg, #00467E, #0463AF);
}

@media (min-width: 1600px) {
    [data-custom-text="textCustom"] li {
        font-size: 24px;
    } 
}